/.vs/PointRuler/v15/Server/sqlite3/db.lock
/.vs/PointRuler/v15/Server/sqlite3/storage.ide
/.vs/PointRuler/v15/Server/sqlite3/storage.ide-shm
/.vs/PointRuler/v15/Server/sqlite3/storage.ide-wal
/.vs/PointRuler/v15/sqlite3/db.lock
